# Variables locales y secretos
.env
.env.*
*.pem
infra/k8s/secret.yml

# Terraform local
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/

# Builds
**/target/
**/node_modules/
**/dist/

# Sistema/editor
.DS_Store
.vscode/