# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación
dist/
build/
.vite/

# Archivos de IDE
.idea/
*.iml
.vscode/
.settings/

# Archivos de control de versiones
.git/
.gitignore
.gitattributes

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos de documentación
README.md
*.md

# Archivos de configuración local
*.local